<h1>New Project</h1>
<%= form_with(model: @project) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :project_name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description, id: :project_description %>
  </p>

  <%= form.submit %>
<% end %>
